<canvas id="game-canvas"></canvas>
<script src="worm_game.js"></script>
<script>
    var engine = new Engine({"args":[],"canvasResizePolicy":2,"emscriptenPoolSize":8,"ensureCrossOriginIsolationHeaders":true,"executable":"worm_game","experimentalVK":false,"fileSizes":{"worm_game.pck":32428,"worm_game.wasm":35740641},"focusCanvas":true,"gdextensionLibs":[],"godotPoolSize":4});
    const canvasElement = document.querySelector("#game-canvas");
    canvasElement.width = window.innerWidth;
    canvasElement.height = window.innerHeight;
    engine.startGame({canvas: canvasElement, canvasResizePolicy: 0})
</script>

